English
Welcome to my AI-powered text extraction app from images.

Object the Aplication
The application makes a direct conversosion to Brazilian Portuguese with the correct accentuation.

In windows, you can run the application for an executable presents the src/dist folder.

Warning!!!
You need to install Tesseract-OCR to run application correctly.


Português
Bem vindo ao meu aplicativo de extraição de texto da imagem com Inteligencia Artificial.

Objetivo com o Aplicativo
O aplicativo fará uma conversão direta para o Português Brasileiro com a acentuação correta.

É possível executar o aplicativo no Windows com o executável presente na pasta src/dist.

Atenção!!!
É preciso instalar o Tesseract-OCR para o aplicativo funcionar corretamente